/* BUY NOW */

  .buy-now a {
    background: #2e7d32 !important;
    float: left;
    width: 138px;
    line-height: 47px !important;
    left : 44px;
  }

  .buy-now a:hover {
    text-decoration: none;
    color: #FFF;
  }

/*************/


/* TRY IT FOR FREE */

  #main-menu .try-it-for-free a {
    margin: 23px 0 16px -40px !important;
  }

  .ftelmt.btn-on-row.try-it-for-free {
    padding: 14px 0 11px;
  }
  
  .try-it-for-free a {
    width: 205px;
    background: #db0031 !important;
    line-height: 50px !important;
  }

  .text-footer-top.ftelmt {
    position: relative;
    top: -16px;
    color: #FFF;
    font-size: 24px;
    margin-right: 50px;
  }

/*******************/

/* COMMON */

  .btn-on-row a {
    border-radius: 0 !important;
    color: #FFF !important;
    opacity: 1 !important;
    height: 47px;
    text-align: center;
    font-size: 19px !important;
    text-transform: uppercase !important;
  }

/**********/