/*  < TOP MENU  */

  #header-top {
    background: #c5e1a5;
    height: 47px;
  }

  #header-top .row {
    height: 47px;
    overflow: hidden;
  }

  /* languages */

    #lang-menu {
      height: 49px !important;
    }

    .box.lang span {
      font-size: 11px;
      color: #000;
    }

    .box.lang img {
      margin-left: 5px;
    }

    #lang-menu svg {
      height: 14px !important;
      width: 18px !important;
      fill: #000000 !important;
      right: 30px !important;
      top: 17px !important;
    }

    #lang-menu > div > div {
      line-height: 44px !important;
      padding-left: 0px ! important;
    }

  /*************/

  /* PHONE */

    .box.phone > span {
      font-size: 20px;
      font-weight: bold;
      line-height: 48px;
      margin-left: 5px;
    }

    .box.phone img {
      position: relative;
      top: -3px;
    }

  /*************/

  /* USER MENU */

    .col-user-menu > div {
      width: 458px !important;
    }

    #user-menu {
      float: right;
      background: transparent !important;
      width: auto !important;
      padding: 0 !important;
      border-radius: 0 !important;
      height: 47px !important;
    }

    #user-menu > div > span {
      font-size: 14px !important;
      padding: 0 10px;
      position: relative;
      left: 10px;
    }

    #user-menu .separator {
      box-shadow: 1px 1px 0 #2e7d32;
      width: 1px;
      height: 25px;
      position: relative;
      top: 7px;
      left: 27px;
      margin: 0px 20px 0 0px;
    }

    #user-menu > div, #user-menu > span {
      display: inline-block !important;
    }

    .user-menu-item > div > div {
      padding: 0 !important;
    }

    .user-menu-item > div > div > div {
      display: inline !important;
    }

    .user-menu-item img {
      margin: 0 !important;
      margin-right: 4px !important;
      height: auto !important;
      width: auto !important;
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
      display: inline-block !important;
    }

    .user-menu-item .box span {
      color: #000;
    }

  /*************/

/*  TOP MENU >  */

/* < MENU BAR */

  nav#main-menu {
    background: #000;
    border: none;
    border-radius: 0;
    height: 86px;
    margin-bottom: 0;
  }

  /* LOGO, BRAND */

    a.logo {
      display: inline-block;
      padding: 12px 0;
    }

  /***************/

  /* MAIN MENU */

    #main-menu .navbar-nav > li > a {
      color: #FFF;
      letter-spacing: .5px;
      font-weight: bold;
      position: relative;
      top: 28px;
      padding: 15px 10px 23px;
    }
    
    #main-menu .navbar-nav > li > a.active {
        background: #2e7d32;
    }

    #main-menu .navbar-nav > li {
      padding: 0 5px;
    }

    #main-menu .navbar-nav > li > a:hover {
      color: #EEE;
    }

  /*************/

  /* SLIDER */

    #carousel {
      background: url('/images/slider-cover.png') center center;
      background-size: cover;
      height: 630px;
    }

    #carousel .item {
      height: 630px;
    }

    #carousel p.txt-top {
      font-size: 50px;
      text-shadow: 0px 0px 0px #000;
    }

    #carousel p.txt-bold {
      font-size: 46px;
      text-shadow: 0px 0px 0px #000;
      font-weight: bold;
    }

    .carousel-caption {
      top: 25%;
    }

  /**********/

/* MENU BAR > */

/* < MENU FOOTER */

  #footer-top {
    background: #85c6c0;
    border-top: 4px solid #8fbf31;
    height: 81px;
    text-align: center;
  }

  .ftelmt {
    display: inline-block;
  }

  #footer-menus {
    background: #000 url('/images/footer-top-arrow.png') center top no-repeat;
    padding-top: 60px;
  }

  #footer-menus * {
    color: rgba(255, 255, 255, 0.97);
  }

  .footer-menu-title {
    background: url('/images/footer-menu-bg.png') left bottom no-repeat;
    padding-bottom: 18px;
    margin-bottom: 33px;
    font-size: 25px;
    font-weight: bold;
  }

  .footer-menu-list {
    padding: 0;
  }

  .footer-menu-list li {
    margin-bottom: 5px;
  }

  .footer-menu-list a {
    font-weight: bold;
    font-size: 16px;
  }

  .menu-social {
    margin-top: 65px;
  }

  .menu-social li {
    display: inline-block;
    margin-right: 14px;
  }

  #copyright {
    background: #27292b;
    height: 45px;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    line-height: 45px;
  }

/*****************/

/* HOME PAGE */
  
  .home-content {
    margin: 100px auto;
  }

  .home-content h1, .home-content h2 {
    font-weight: bold;
  }

  .home-content p {
    font-size: 16px;
  }

  .home-content .row-2 img {
    max-width: 1170px;
  }

  .home-content .row {
    margin-bottom: 60px;
  }

/*************/